<!DOCTYPE html>
<html>
  <head>
  	<link href="./styles.css"rel="stylesheet" type="text/css">
  	<title>Is it my birthday or Christmas?
  	</title>
  </head>
  <body>
  	<%= yield %>
  </body>
  </html>